@model FitnessTrackerCMS.DTOs.EquipmentDto

@{
    ViewData["Title"] = "Equipment Details";
}

<h1>Details</h1>

<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <h5>Exercises using this equipment</h5>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Muscle Group</th>
                <th>Difficulty</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in Model.Exercises)
            {
                <tr>
                    <td>@exercise.Name</td>
                    <td>@exercise.MuscleGroup</td>
                    <td>@exercise.Difficulty</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.EquipmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
